<div class="content">
    <button mat-raised-button color="accent" id='btn-get-random' (click)="getRandom(); newClick()">Press me

    </button>
    <hr>
    <div class="card" *ngIf='fact' id='card-fact-unique'>
        <p class='fact-timestamp'>{{fact?.timestamp}}</p>
        <p class="fact-font"><span>"</span>{{fact?.content}}"<span style="font-size: 20px; font-style: italic"> -
                Mathis</span></p>
    </div>



    <p>Compteur <span>{{clicks}}</span></p>
</div>




<!-- *ngIf='fact.content'-->